#logo {
	margin-top: 2em;
	width: 20em;
	border-radius: 50%;
	transition: all 0.8s ease; -webkit-transition: all 0.8s ease;
}


.large_title {
	font-size: 6em;
	margin-bottom: 0.1em;
	line-height: 90%;
	transition: all 0.6s ease; -webkit-transition: all 0.6s ease;
}

p {
	display: inline-block;
	margin: 0 0 1em 0;
	font-size: 1.8em;
	max-width: 25em;
}

@media screen and (max-width: 680px) {
	#logo {
		margin-top: 0;
		width: 15em;
	}

	.large_title {
		font-size: 3em;
	}
}